body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
            /* text-align: center; */
            padding: 20px;
}
.headerr {
    /* width: 100%; */
    text-align: center;
    padding: 20px;
    margin-bottom: 110px;;
}

.sidebar {
    width: 200px;
    background-color: #007bff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* margin-top: 120px; */
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #003f7f;
}

.content {
    flex: 1;
    padding: 20px;
    /* margin-top: 120px; */

}

.section {
    display: none;
}

.section.active {
    display: block;
}

h1, h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
}